{%- comment -%}
  セールカウントダウンタイマー
  前提: window.fluxorSale.end が設定されていること
  Alpine.js saleCountdown データ関数を使用する。
{%- endcomment -%}

{%- if settings.sale_end != blank -%}
  <div
    x-data="saleCountdown(window.fluxorSale.end)"
    x-show="!expired"
    x-cloak
    class="flex items-center gap-1 tabular-nums"
  >
    <span>終了まで</span>
    <span>
      <span x-show="days > 0">
        <span x-text="days" class="font-semibold"></span>日
      </span>
      <span x-text="hh" class="font-semibold"></span>時間
      <span x-text="mm" class="font-semibold"></span>分
      <span x-text="ss" class="font-semibold"></span>秒
    </span>
  </div>
{%- endif -%}
