{%- if section.settings.text != blank -%}
  <div
    id="AnnouncementBar"
    class="bg-stone-950 text-stone-50 min-h-9 flex items-center justify-center py-2 px-4 md:px-10"
    {%- if settings.sale_enabled %}x-data x-show="$store.sale.isActive()" x-cloak{%- endif %}
  >
    <p class="text-xs md:text-sm tracking-wide text-center">{{ section.settings.text }}</p>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Announcement Bar",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "テキスト",
      "default": "オープン記念セール開催中🎉4月30日まで全商品20%オフ！（一部商品を除く）"
    }
  ],
  "presets": [
    {
      "name": "Announcement Bar"
    }
  ]
}
{% endschema %}
