{%- if section.settings.text != blank -%}
  <div class="bg-stone-950 text-stone-50 h-9 flex items-center justify-center px-10">
    <p class="text-sm tracking-wide text-center">{{ section.settings.text }}</p>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Announcement Bar",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "テキスト",
      "default": "オープン記念セール開催中🎉4月30日まで全商品20%オフ！"
    }
  ],
  "presets": [
    {
      "name": "Announcement Bar"
    }
  ]
}
{% endschema %}
